<h2 class="m-2">Solicitudes Rechazadas</h2>
<table class="table text-center table-bordered mb-4" >
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombres</th>
          <th scope="col">Revisó</th>
          <th scope="col">Fecha de Solicitud</th>
          <th scope="col">Fecha_Inicio</th>
          <th scope="col">Fecha_Final</th>
          <th scope="col">Motivo</th>
          <th scope="col">Dias</th>
          <th scope="col">Estado</th>
          <th scope="col">Comentario</th>
          <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody >
      <tr *ngFor="let solicitud of LSoliRech"  >
          <th scope="row">{{solicitud.id}}</th>
            <td>{{solicitud.nombres}}</td>
            <td>{{solicitud.reviso}}</td>
            <td>{{solicitud.fecha}}</td>
            <td>{{solicitud.fecha_i}}</td>
            <td>{{solicitud.fecha_f}}</td>
            <td>{{solicitud.motivo}}</td>
            <td>{{solicitud.dias}}</td>
            <td>{{solicitud.estado}}</td>
            <td>{{solicitud.comentario}}</td>
            <td>{{solicitud.observaciones}}</td>
        </tr>
    </tbody>
</table>