<div class="container-sm">
    <h1 class="text-center">Catálogos</h1>

    <button type="button" class="btn btn-primary" routerLink="/Agregar-Catalogo">Agregar</button>

    <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Años Laborados</th>
            <th scope="col">Días Vacaciones</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let catalogo of ListarCatalogos">
            <td>{{catalogo.annios_lab}}</td>
            <td>{{catalogo.dias_vac}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editarRol(catalogo.annios_lab)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminarCatalogo(catalogo.annios_lab)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>