<div class="text-center mb-3">
    <h1>Solicitud Por Revisar</h1>
</div>

<form [formGroup]="FormSoli">
<table class="table mb-4" >
    <thead>
        <tr>
          <th scope="col">Id_User</th>
          <th scope="col">Fecha_Inicio</th>
          <th scope="col">Fecha_Final</th>
          <th scope="col">Motivo</th>
          <th scope="col">Dias</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody >
      <tr *ngFor="let solicitud of LSolienrev"  >
            <td>{{solicitud.id_user}}</td>
            <td>{{solicitud.fecha_i}}</td>
            <td>{{solicitud.fecha_f}}</td>
            <td>{{solicitud.motivo}}</td>
            <td>{{solicitud.dias}}</td>
            <td>{{solicitud.estado}}</td>
            <td>
                <select id="estado" formControlName="estado" class="mb-2" > 
                    <option>Aceptar</option>
                    <option>Rechazar</option>
                </select>
                 <button type="button" class="btn btn-success" (click)="updateSolicitud({id},solicitud)">Enviar</button>
            </td>
        </tr>
        <input type="hidden" formControlName="id" />
    </tbody>
</table>
</form>
