<div>
    <div class="text-center mb-3">
        <h1>Solicitud de Vacaciones</h1>
      </div>
      <div class="mb-3 card-body d-flex justify-content-between">
        <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#VentanaAdd" (click)="limpiar()">Nueva Solicitud</button>
        <label><b>Dias Disponibles:</b> {{DiasD}}</label>
      </div>
      <table class="table mb-4" >
          <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Id_User</th>
                <th scope="col">Fecha</th>
                <th scope="col">Fecha_Inicio</th>
                <th scope="col">Fecha_Final</th>
                <th scope="col">Motivo</th>
                <th scope="col">Dias</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let solicitud of LSolicitud"  >
                <th scope="row">{{solicitud.id}}</th>
                  <td>{{solicitud.id_user}}</td>
                  <td>{{solicitud.fecha}}</td>
                  <td>{{solicitud.fecha_i}}</td>
                  <td>{{solicitud.fecha_f}}</td>
                  <td>{{solicitud.motivo}}</td>
                  <td>{{solicitud.dias}}</td>
                  <td>{{solicitud.estado}}</td>
                  <td>
                     <button type="button"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#VentanaAdd" (click)="editar(solicitud)">Editar</button>
                     <button type="button" class="pencil-square" class="btn btn-danger" (click)="deleteSolicitud(solicitud.id)">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="modal fade" id="VentanaAdd" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content text-center ">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Nueva Solicitud</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-end">
                <form [formGroup]="FormSoli" >
                    <div class="p-inputgroup mb-2">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <input type = "hidden" formControlName="id" />
                        <div class="form-group" >
                            <label class="mb-3 m-2"><b>Ingresa tu Id de Usuario</b></label>
                            <div>
                              <input type = "text" formControlName="id_user" />
                            </div>
                            <div>
                              <label class="mb-3 m-2" ><b>¿En qué fechas deseas tomar tus vacaciones?</b></label>
                              <div>
                                <label class="mb-3 m-2"><b>Fecha de Inicio:</b></label>
                                <input type = "text" placeholder="ej. 2000/12/20" formControlName="fecha_i" />
                                <label class="mb-3 m-2"><b>Fecha Final:</b></label>
                                <input type = "text" placeholder="ej. 2000/12/20" formControlName="fecha_f" />
                                <div><label class="mb-3 m-2"><b>Especifica el Motivo: </b></label></div>
                                <div class="form-group">
                                    <textarea cols="40" rows="5" formControlName="motivo" ></textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mostrarC">
                        <button type="button" class="btn btn-primary mb-2" (click)="createSolicitud()">Enviar</button>
                    </div>
                    <div *ngIf="mostrarA">
                        <button type="button" class="pencil-square" class="btn btn-success" (click)="updateSolicitud({id})">Actualizar</button>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  
  