<div class="center">
    <h1 >
        CRUD Solicitudes SCYGV
    </h1>
  </div>
  
  <form [formGroup]="FormSoli" >
    <div class="p-inputgroup mb-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input placeholder="Inserta tu id de usuario"  type = "text" formControlName="id_user" />
        <input placeholder="Inserta el id de RH" type = "text" formControlName="id_rh" />
        <input placeholder="Inserta la fecha" type = "text" formControlName="fecha" />
        <input placeholder="Inserta el motivo" type = "text" formControlName="motivo" />
        <input placeholder="Inserta los dias" type = "text" formControlName="dias"/>
        <input placeholder="Inserta el estado de la solicitud" type = "text" formControlName="estado"/>
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary mb-2" (click)="createSolicitud()">Crear</button>
    </div>
  </form>
  <table class="table">
      <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Id_User</th>
            <th scope="col">Id_RH</th>
            <th scope="col">Fecha</th>
            <th scope="col">Motivo</th>
            <th scope="col">Dias</th>
            <th scope="col">Estado</th>
          </tr>
      </thead>
      <tbody >
          <tr *ngFor="let solicitud of LSolicitud"  >
          <th scope="row">{{solicitud.id}}</th>
            <td>{{solicitud.id_user}}</td>
            <td>{{solicitud.id_rh}}</td>
            <td>{{solicitud.fecha}}</td>
            <td>{{solicitud.motivo}}</td>
            <td>{{solicitud.dias}}</td>
            <td>{{solicitud.estado}}</td>
            <button type="button"  class="btn btn-success" (click)="editar(solicitud)">Editar</button>
            <button type="button" class="pencil-square" class="btn btn-danger" (click)="deleteSolicitud(solicitud.id)">Eliminar</button>
            <button type="button" class="pencil-square" class="btn btn-danger" [disabled]="isClicked" (click)="updateSolicitud(solicitud.id)">Actualizar</button>
          </tr>
      </tbody>
  </table>
  
  