<header>
  <div>
    <nav class="navbar navbar-scroll justify-content-end">
      <ul class="nav" >
        <li class="nav-item" >
          <button class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#VentanaLog" >Iniciar Sesión</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#VentanaRec">Olvidaste tu contraseña?</button>
        </li>
      </ul>
    </nav>
  </div>
</header>

  
<!-- Ventana Para Inciar Sesión -->
<div class="modal fade" id="VentanaLog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header-center">
        <h1 class="modal-title fs-7 ">Inicia Sesión</h1>   
      </div>
      <div class="modal-body">
        <form [formGroup]="FormLogin" >
          <div class="imgcontainer">
            <img src="./assets/Avatar.png" alt="Avatar" class="avatar">
          </div>
          <div class="d-flex">
              <div class="container" >
                <label class="label mb-2"><b>Correo</b></label>
                <input class="form-control" type = "text" placeholder="Email" formControlName="correo"/>
                <label class="label mb-2"><b>Contraseña</b></label>
                <input class="form-control" type = "password" placeholder="Password" formControlName="contrasena"/>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="login()">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>

<!-- Ventana para recuperar Contraseña 
<div class="modal fade" id="VentanaRec" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Recuperar Contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-primary mb-2" data-bs-dismiss="modal">Enviar</button>
      </div>
    </div>
  </div>
</div>

NAVBAR CRUDS
<nav class="navbar navbar-expand-lg bg-body-tertiary data-bs-theme= dark">
    <div class="container-fluid mb-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Roles">Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Catalogos">Catalogos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Solicitud">Solicitud</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->


