<mat-toolbar class="mat">
    <button mat-button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon></button>
    <span>SCYGV</span>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer class="drawer-container"  #drawer opened="false" mode="push">
        <mat-list-item class="list-item" >
            <button mat-button routerLink="./HomeAdmin"> <mat-icon>home</mat-icon>Home</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button routerLink="./Bandeja/Revisar"> <mat-icon>inbox</mat-icon>Bandeja</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button routerLink="./PagUsuario/Usuario" > <mat-icon>person</mat-icon>Usuarios</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button routerLink="./Catalogos"> <mat-icon>book</mat-icon>Catalogos</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button (click)="CerrarSesion()" > <mat-icon>logout</mat-icon>Cerrar Sesión</button>
        </mat-list-item>
    </mat-drawer>
    <mat-drawer-content >
        <div style="text-align: center; min-height: 640px;" >
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>