<div class="container-sm">
    <h2 class="text-center">Agregar Catálogos</h2>

    <div class="row">
        <div class="col-sm-6">
            <form>
                <label class="form-label">Nuevo Catálogo:</label>
                <input [(ngModel)]="Catalogo.annios_lab" placeholder="Catálogo" type="text" name="Catalogo" class="form-control">
                <label class="form-label">Días de Vacaciones:</label>
                <input [(ngModel)]="Catalogo.dias_vac" placeholder="Días de Vacaciones" type="number" name="Vacaciones" class="form-control">
                <button type="button" class="btn btn-success" (click)="agregarCatalogos()">Agregar</button>
            </form>
        </div>
    
    </div>

</div>