<mat-toolbar class="mat">
    <button mat-button (click)="drawer.toggle()"> <mat-icon>menu</mat-icon></button>
    <span>SCYGV</span>
</mat-toolbar>
<mat-drawer-container >
    <mat-drawer class="drawer-container"  #drawer opened="false" mode="push">
        <mat-list-item>
            <button mat-button routerLink="./HomeEmpleado"> <mat-icon>home</mat-icon>Home</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button (click)="Permiso()"> <mat-icon>folder</mat-icon>Solicitud</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button routerLink="./Bandeja-Empleado/Solicitudes_Aceptadas"> <mat-icon>inbox</mat-icon>Bandeja</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button routerLink="./Catalogo-Empleado"> <mat-icon>book</mat-icon>Catalogos</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button (click)="CerrarSesion()" > <mat-icon>logout</mat-icon>Cerrar Sesión</button>
        </mat-list-item>
    </mat-drawer>
    <mat-drawer-content style="background-color: white;" >
        <div style="text-align: center; min-height: 640px;" >
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>