<div class="container-sm">
    <h1 class="text-center mb-3">Catálogo Vacaciones</h1>

    <table class="table table-warning text-center">
        <thead>
          <tr>
            <th scope="col">Años Laborados</th>
            <th scope="col">Días Vacaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let catalogo of ListarCatalogos">
            <td>{{catalogo.annios_lab}}</td>
            <td>{{catalogo.dias_vac}}</td>
          </tr>
        </tbody>
      </table>
</div>

<p><b>Para más información, visite el siguiente link:</b></p>
<a href="https://comunicacionsocial.diputados.gob.mx/index.php/notilegis/dof-publica-decreto-por-el-que-se-reforman-los-articulos-76-y-78-de-la-ley-federal-del-trabajo-en-materia-de-vacaciones#:~:text=Art%C3%ADculo%2076.%2D%20Las%20personas%20trabajadoras,cada%20a%C3%B1o%20subsecuente%20de%20servicios." target="_blank">Articulos 76 y 78 de La Ley del Trabajo</a>


