@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1{
    font-family: 'Fira Sans';   
}

th{
    font-family: 'DM Sans';
    font-size: x-large;
}

p{
    font-family: 'DM Sans';
    font-size: x-large;
}