<div class="container-sm">
    <h1 class="text-center">Catálogo Vacaciones</h1>

    <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Años Laborados</th>
            <th scope="col" >Días Vacaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let catalogo of ListarCatalogos">
            <td>{{catalogo.annios_lab}}</td>
            <td>{{catalogo.dias_vac}}</td>
          </tr>
        </tbody>
      </table>
</div>


